[Desktop Entry]
Encoding=UTF-8
Name=Biggee's GPS Tracker
Comment=Camera
Exec=/bin/sh /home/pi/src/pyGpsd.sh
Type=Application
Categories=Application;
Comment=GPS
